# Compiled binaries
bin/
pdag
pdag-test
plugins/admin/admin
plugins/read_zones/read_zones
plugins/letsencrypt_dns_challenger/letsencrypt_dns_challenger
plugins/zone_notify/zone_notify
plugins/api_discovery/api_discovery

# Test artifacts
tests/pdag-e2e-*.yaml
!tests/pdag-e2e.yaml
!tests/pdag-e2e-ratelimit.yaml
